.page-container {
  width: 500px;
  margin: 100px auto;
}

.controller {
  display: flex;
  flex-wrap: nowrap;
}

.range-container {
  flex-grow: 1;
}

.text-container {
  width: 40%;
  margin-left: 10px;
  margin-top: 25px;
}

.text-container p {
  padding: 5px;
}

button {
    padding: 10px;
}

.active {
  background-color: rgb(19, 106, 192);
  border: 1px solid rgb(3, 28, 53);
  outline: none;
  color: #ffffff;
}

.ui-slider {
  margin-top: 25px;
  border-radius: 5px;
}

.ui-slider-handle {
  border-radius: 5px;
  background-color: #f6f6f6 !important;
  outline: none !important;
}

.ui-slider-handle--red {
  border: 1px solid rgb(220, 20, 60) !important;
}

.ui-slider-handle--green {
  border: 1px solid rgb(20, 220, 47) !important;
}

.ui-slider-handle--blue {
  border: 1px solid rgb(78, 85, 175) !important;
}

.ui-slider-range--red {
  background-color: rgb(220, 20, 60) !important;
}

.ui-slider-range--green {
  background-color: rgb(20, 220, 47) !important;
}

.ui-slider-range--blue {
  background-color: rgb(78, 85, 175) !important;
}
